[Unit]
Description=Run backup-notes service every 30 minutes

[Timer]
OnBootSec=10m
OnUnitActiveSec=30m
Unit=backup-notes.service

[Install]
WantedBy=timers.target
